{% extends 'base.html.twig' %}

{% block title %}Worker index{% endblock %}

{% block body %}
    <h1>Worker index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>WorkerFirstName</th>
                <th>WorkerMiddleName</th>
                <th>WorkerLastName</th>
                <th>WorkerPhone</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for worker in workers %}
            <tr>
                <td>{{ worker.id }}</td>
                <td>{{ worker.WorkerFirstName }}</td>
                <td>{{ worker.WorkerMiddleName }}</td>
                <td>{{ worker.WorkerLastName }}</td>
                <td>{{ worker.WorkerPhone }}</td>
                <td>
                    <a href="{{ path('app_worker_show', {'id': worker.id}) }}">show</a>
                    <a href="{{ path('app_worker_edit', {'id': worker.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_worker_new') }}">Create new</a>
{% endblock %}
