{% extends 'base.html.twig' %}

{% block title %}Работники{% endblock %}

{% block body %}
    <div class="container-fluid">
        <h1>Работники</h1>

        <div class="row row-cols-1 row-cols-md-3 g-4">
            {% for worker in workers %}
                <div class="col">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">{{ worker.workerPhone }}</h5>
                            <p class="card-text">{{ worker.workerMiddleName }} {{ worker.workerFirstName }} {{ worker.workerLastName }}</p>
                            <p>
                                <a href="{{ path('app_worker_show', {'id': worker.id}) }}" class="btn btn-outline-primary">Подробнее</a>
                                <a href="{{ path('app_worker_edit', {'id': worker.id}) }}" class="btn btn-outline-secondary">Редактировать</a>
                            </p>
                        </div>
                    </div>
                </div>

            {% else %}
                <tr>
                    <td colspan="6">no records found</td>
                </tr>
            {% endfor %}
        </div>
        <p style="margin-top: 1em">
            <a href="{{ path('app_worker_new') }}" class="btn btn-primary">Добавить работника</a>
            <a href="{{ path('app_main_index') }}" class="btn btn-outline-success">На главную</a>
        </p>
    </div>
{% endblock %}