{% extends 'base.html.twig' %}

{% block title %}{{ worker.workerMiddleName }} {{ worker.workerFirstName }} {{ worker.workerLastName }}{% endblock %}

{% block body %}
    <div class="container-fluid">
        <h1>{{ worker.workerMiddleName }} {{ worker.workerFirstName }} {{ worker.workerLastName }}</h1>

        <p>Телефон: {{ worker.workerPhone }}</p>
        <h3>Работы:</h3>
        {% for service in services %}
            <p>
                <a href="{{ path('app_service_show', {'id': service.id}) }}">{{ service.serviceDescription}}</a>
            </p>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}

        <p style="margin-bottom: 1em; margin-top: 1em;">
            <a href="{{ path('app_worker_index') }}" class="btn btn-outline-primary">К списку работников</a>

            <a href="{{ path('app_worker_edit', {'id': worker.id}) }}"
               class="btn btn-outline-secondary">Редактировать</a>
        </p>
        {{ include('worker/_delete_form.html.twig') }}
    </div>
{% endblock %}
