{% extends 'base.html.twig' %}

{% block title %}Услуги{% endblock %}

{% block body %}
    <div class="container-fluid">
        <h1>Услуги</h1>

        <table class="table">
            <thead>
            <tr>
                <th>Описание услуги</th>
                <th>Стоимость услуги</th>
                <th>Дата завершения</th>
            </tr>
            </thead>
            <tbody>
            {% for service in services %}
                <tr>
                    <td>
                        <a href="{{ path('app_service_show', {'id': service.id}) }}">{{ service.serviceDescription }}</a>
                    </td>
                    <td>{{ service.ServicePrice }}</td>
                    <td>{{ service.ServiceCompleteDate ? service.ServiceCompleteDate|date('Y-m-d') : '' }}</td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <a href="{{ path('app_main_index') }}" class="btn btn-outline-success">На главную</a>
    </div>
{% endblock %}
