{% extends 'base.html.twig' %}

{% block title %}{{ service.serviceDescription }}{% endblock %}

{% block body %}
    <div class="container-fluid">
        <h1>{{ service.serviceDescription }}</h1>

        <table class="table">
            <tbody>
            <tr>
                <th>Стоимость услуги</th>
                <td>{{ service.ServicePrice }}</td>
            </tr>
            <tr>
                <th>Дата завершения</th>
                <td>{{ service.ServiceCompleteDate ? service.ServiceCompleteDate|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>В каком боксе</th>
                <td>Бокс №{{ bay.id }} ({{ bay.bayType }})</td>
            </tr>
            <tr>
                <th>Кто занимается</th>
                <td><a href="{{ path('app_worker_show', {'id': worker.id}) }}" >{{ worker.workerMiddleName }} {{ worker.workerFirstName }} {{ worker.workerLastName }}</a></td>
            </tr>
            <tr>
                <th>К какому заказу относится</th>
                <td><a href="{{ path('app_custom_show', {'id': custom.id}) }}">{{ custom.carInformation }}</a></td>
            </tr>
            {% for material in materials %}
            <tr>
                <th><a href="{{ path('app_material_show', {'id': material.id}) }}">{{ material.materialName }}</a></th>
                <td>{{ material.materialAmount }} {{ material.materialMeasure }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>

        <a href="{{ path('app_service_index') }}" class="btn btn-primary">Вернуться к услугам</a>

        <a href="{{ path('app_service_edit', {'id': service.id}) }}" class="btn btn-outline-secondary">Редактировать</a>

        <a href="{{ path('app_material_new', {'service_id': service.id}) }}"
           class="btn btn-outline-success" role="button">Добавить материал</a>

        {{ include('service/_delete_form.html.twig') }}
    </div>
{% endblock %}
