{% extends 'base.html.twig' %}

{% block title %}Материалы{% endblock %}

{% block body %}
    <div class="container-fluid">
        <h1>Материалы</h1>

        <table class="table">
            <thead>
            <tr>
                <th>Название</th>
                <th>Стоимость</th>
                <th>Описание</th>
                <th>Количество</th>
                <th>Измеряется в</th>
            </tr>
            </thead>
            <tbody>
            {% for material in materials %}
                <tr>
                    <td>
                        <a href="{{ path('app_material_show', {'id': material.id}) }}">{{ material.MaterialName }}</a>
                    </td>
                    <td>{{ material.MaterialPrice }}</td>
                    <td>{{ material.MaterialDescription }}</td>
                    <td>{{ material.MaterialAmount }}</td>
                    <td>{{ material.MaterialMeasure }}</td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="7">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <a href="{{ path('app_main_index') }}" class="btn btn-outline-success">На главную</a>
    </div>

{% endblock %}
