{% extends 'base.html.twig' %}

{% block title %}{{ material.materialName }}{% endblock %}

{% block body %}
    <div class="container-fluid">
        <h1>{{ material.materialName }}</h1>

        <table class="table">
            <tbody>
            <tr>
                <th>Стоимость</th>
                <td>{{ material.MaterialPrice }}</td>
            </tr>
            <tr>
                <th>Описание</th>
                <td>{{ material.MaterialDescription }}</td>
            </tr>
            <tr>
                <th>Количество и единицы измерения</th>
                <td>{{ material.MaterialAmount }} {{ material.materialMeasure }}</td>
            </tr>
            <tr>
                <th>Для услуги</th>
                <td><a href="{{ path('app_service_show', {'id': service.id}) }}">{{ service.serviceDescription }}</a>
                </td>
            </tr>
            </tbody>
        </table>

        <a href="{{ path('app_material_index') }}" class="btn btn-primary">Вернуться к материалам</a>

        <a href="{{ path('app_material_edit', {'id': material.id}) }}"
           class="btn btn-outline-secondary">Редактировать</a>

        {{ include('material/_delete_form.html.twig') }}
    </div>
{% endblock %}
