{% extends 'base.html.twig' %}

{% block title %}Наши заказы{% endblock %}

{% block body %}
    <div class="container-fluid">
        <h1>Наши заказы</h1>

        <table class="table">
            <thead>
            <tr>
                <th>Информация о машинах</th>
                <th>Дата начала</th>
                <th>Дата окончания</th>
                <th>Дата оплаты</th>
            </tr>
            </thead>
            <tbody>
            {% for custom in customs %}
                <tr>
                    <td>
                        <a href="{{ path('app_custom_show', {'id': custom.id}) }}">{{ custom.CarInformation }}</a>
                    </td>
                    <td>{{ custom.OrderDate ? custom.OrderDate|date('Y-m-d') : '' }}</td>
                    <td>{{ custom.OrderEndDate ? custom.OrderEndDate|date('Y-m-d') : '' }}</td>
                    <td>{{ custom.OrderPayDate ? custom.OrderPayDate|date('Y-m-d') : '' }}</td>

                </tr>
            {% else %}
                <tr>
                    <td colspan="6">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <a href="{{ path('app_main_index') }}" class="btn btn-outline-success">На главную</a>
    </div>
{% endblock %}
