{% extends 'base.html.twig' %}

{% block title %}{{ custom.carInformation }}{% endblock %}

{% block body %}
    <div class="container-fluid">
        <h1>{{ custom.carInformation }}</h1>

        <table class="table">
            <tbody>
            <tr>
                <th>Дата начала</th>
                <td>{{ custom.OrderDate ? custom.OrderDate|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Дата окончания</th>
                <td>{{ custom.OrderEndDate ? custom.OrderEndDate|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Дата оплаты</th>
                <td>{{ custom.OrderPayDate ? custom.OrderPayDate|date('Y-m-d') : '' }}</td>
            </tr>
            {% for service in services %}
            <tr>
                <th>{{ service.serviceDescription }}</th>
                <td><a href="{{ path('app_service_show', {'id': service.id}) }}" class="btn btn-outline-primary">К услуге</a></td>
            </tr>
            {% endfor %}
            <tr>
                <th>{{ client.customerMiddleName }} {{ client.customerFirstName }} {{ client.customerLastName }}</th>
                <td><a href="{{ path('app_client_show', {'id': client.id}) }}" class="btn btn-outline-primary">К заказчику</a></td>
            </tr>
            </tbody>
        </table>

        <a href="{{ path('app_custom_index') }}" class="btn btn-primary">Вернуться к заказам</a>

        <a href="{{ path('app_custom_edit', {'id': custom.id}) }}" class="btn btn-outline-secondary">Редактировать</a>

        {{ include('custom/_delete_form.html.twig') }}
    </div>
{% endblock %}
