{% extends 'base.html.twig' %}

{% block title %}Bay index{% endblock %}

{% block body %}
    <h1>Bay index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>BayType</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for bay in bays %}
            <tr>
                <td>{{ bay.id }}</td>
                <td>{{ bay.BayType }}</td>
                <td>
                    <a href="{{ path('app_bay_show', {'id': bay.id}) }}">show</a>
                    <a href="{{ path('app_bay_edit', {'id': bay.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_bay_new') }}">Create new</a>
{% endblock %}
