{% extends 'base.html.twig' %}

{% block title %}Бокс №{{ bay.id }}{% endblock %}

{% block body %}
    <div class="container-fluid">
        <h1>Бокс №{{ bay.id }}</h1>

        <h3>Тип бокса: {{ bay.bayType }}</h3>

        <p>Работают в боксе:</p>
        {% for worker in workers %}
            <p>
                <a href="{{ path('app_worker_show', {'id': worker.id}) }}">{{ worker.workerMiddleName }} {{ worker.workerFirstName }} {{ worker.workerLastName }}</a>
            </p>
        {% endfor %}

        <a href="{{ path('app_bay_index') }}" class="btn btn-primary">Вернуться к боксам</a>

        <a href="{{ path('app_bay_edit', {'id': bay.id}) }}" class="btn btn-outline-secondary">Редактировать</a>

        {{ include('bay/_delete_form.html.twig') }}
    </div>
{% endblock %}
